# Dépendances
node_modules/
frontend/node_modules/
backend/node_modules/

# Environnement et Secrets
.env
backend/.env

# Base de données SQLite
backend/database.sqlite
backend/database.sqlite-journal

# Dossiers de build (Optionnel : si vous voulez que Render compile lui-même)
# frontend/build/

# Divers
.DS_Store
dist/